/*Other code*/

nav {
	display: block;
	font-family: sans-serif, calibri;
	font-size: 2em;

}

/*Index*/



/*Om*/

/*CV*/

/* Portfolio */

#eksempler .sectionwrapper {
	display: flex;
	flex-wrap: wrap;
	background-color: #db6261;
	margin: 1rem;
}

#eksempler .col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	flex-basis: 300px;


}

#eksempler .top {
	flex-grow: 0;
	flex-basis: 300px;

}



/*Tema 1 - Grundlæggende Web*/

/*Tema 2 - Grundlæggende Animation*/

/*Tema 3 - Grundlæggende Content*/

/*Tema 4 - Grundlæggende UX*/

/* Media queries */
